.about-wrapper {
    width: 100%;
    background: #ffffff;
    padding: 80px 0;
    color: #fff;
    font-family: sans-serif;
}

.about-container {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
}

/* LEFT SECTION */


.story-title {
    font-size: 13px;
    letter-spacing: 4px;
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.red-line {
    width: 40px;
    height: 2px;
    background: linear-gradient(to right, rgb(73, 73, 73), transparent);
}

.main-title {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
}

.main-title span {
    color: #494949;
}

/* PREVIEW BOXES */

.preview-boxes {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.preview-card {
    width: 210px;
    height: 130px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.preview-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px 10px;
    font-size: 11px;
    border-radius: 10px;
}

.tag.left {
    left: 10px;
}

.tag.right {
    right: 10px;
}

/* TEXT */

.about-text {
    color: #bbb;
    line-height: 1.6;
    margin-top: 10px;
    max-width: 90%;
}

/* STATS */

.stats-row {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.stat-item h2 {
    font-size: 32px;
    font-weight: bold;
}

.stat-item p {
    font-size: 13px;
    color: #bbb;
}

/* INTRO */

.intro-row {
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 20px;
}

.avatars {
    display: flex;
}

.avatars img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #222;
    margin-left: -10px;
}

.play-btn {
    width: 55px;
    height: 55px;
    border: 2px solid #ff3434;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.play-btn:hover {
    background: #ff3434;
}

.intro-text {
    letter-spacing: 3px;
    font-size: 14px;
}

/* RIGHT IMAGE */

.about-right img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.qator {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .preview-boxes {
        justify-content: flex-start;
    }

    .preview-boxes {
        display: flex;
        gap: 20px;
        margin: 40px 0;
        width: 100%;
        justify-content: center;
    }

    .about-text {
        color: #bbb;
        line-height: 1.6;
        margin-top: 10px;
        max-width: 100%;
    }

    .stats-row {
        display: flex;
        gap: 40px;
        margin-top: 40px;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .about-container {
        padding: 20px;
    }

    .preview-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-right img {
        width: 80%;
    }

    .stat-item {
        font-size: 2px;
    }

    .qator {
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }

    .stats-row {
        display: flex;
        gap: 40px;
        margin-top: 40px;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-right {
        width: 100%;
    }
}