@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.ContactSection {
  width: 100%;
  padding: 100px 0;
 
}

.ContactSection-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  align-items: center;
  justify-content: space-between;
}

.ContactSection-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ContactSection-left h3 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.ContactSection-left h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.ContactSection-left p {
  font-size: 17px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 25px;
  margin-left: 20px;
}

/* PHONE */
.phone {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

/* SOCIAL ICONS */
.ContactSection-nav {
  display: flex;
  gap: 22px;
  font-size: 22px;  
  margin-bottom: 20px;
  justify-content: center;
}

.ContactSection-nav a {
  color: #222;
  transition: 0.3s ease;
}

.ContactSection-nav a:hover {
  transform: translateY(-4px);
}

/* FORM BOX */
form {
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
}

/* INPUT ROW */
.Contact-inputs {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

/* INPUT STYLE */
.Contact-inputs input {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1.5px solid #e3e3e3;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.Contact-inputs input:focus {
  border-color: #007bff;
}

/* BUTTON */
.ContactSection-left button {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.ContactSection-left button:hover {
  background: #0064d6;
}

.ContactSection-right {
  width: 50%;
}

.ContactSection-right iframe {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  border: none;
}

@media screen and (max-width: 992px) {
    .ContactSection-container{
        flex-direction: column;
    }

    .ContactSection-left{
        width: 90%;
    }

    .ContactSection-right{
        margin-top: 50px;
        width: 90%;
    }

}
