@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.ProductSection {
  width: 100%;
  background: #f9f9f9;
  padding: 60px 0;
}

.ProductSection-container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  gap: 35px;
  margin: 50px auto;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  flex-wrap: wrap;
}

.ProductSection-container.hh1 {
  display: flex;
  justify-content: center;
}

.Koproq {
  padding: 10px 35px;
  background: none;
  color: green;
  border: 2px solid green;
  cursor: pointer;
}

.Kamroq {
  padding: 10px 35px;
  background: none;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(240, 0, 0);
  cursor: pointer;
}

/* CARD STYLE */
.product-card {
  width: 30%;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.product-image img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.product-content {
  padding: 20px 25px;
}

.product-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-size {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.product-desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 18px;
}

.product-price {
  font-size: 17px;
  font-weight: 600;
  color: #111;
}

/* RESPONSIVE */

@media screen and (max-width: 992px) {
  .product-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .product-image img {
    height: 290px;
  }
}

@media screen and (max-width: 600px) {
    .ProductSection-container{
        justify-content: center;
    }
  .product-card {
    width: 95%;
  }
}
